In [55]:
import pandas as pd
import numpy as np
from scipy.stats import gmean

#SETTING AND RESETTING DISPLAY OPTIONS
pd.set_option('display.float_format', '{:,.2f}'.format)
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
pd.reset_option('display.max_rows')
#pd.reset_option('display.max_columns')
pd.set_option('display.max_columns', None)

df = pd.read_csv('data/Harbor_Water_Quality.csv')
df

C:\Users\tisse\AppData\Local\Temp\ipykernel_20772\3740176858.py:13: DtypeWarning: Columns (1,4,5,6,7,10,11,12,13,20,21,26,27,31,33,34,35,36,37,38,39,40,41,43,44,45,46,47,48,49,50,51,52,53,54,55,57,59,60,61,63,64,65,67,68,70,76,77,79,94,95,96) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/Harbor_Water_Quality.csv')

,Sampling Location,Duplicate Sample,Sample Date,Sample Time,Weather Condition (Dry or Wet),Top Sample Temperature (ºC),Bottom Sample Temperature (ºC),Site Actual Depth (ft),Top Sample Depth(ft),Bottom Sample Depth (ft),Top Salinity (psu),Bottom Salinity (psu),Top Conductivity (S/m),Bottom Conductivity (S/m),"CTD (conductivity, temperature, depth profiler) Top Dissolved Oxygen (mg/L)","CTD (conductivity, temperature, depth profiler) Bottom Dissolved Oxygen (mg/L)",Percentage O2 Saturation Top Sample,Percentage O2 Saturation Bottom sample,Light Trans (% transparency) Top Sample,Light Trans (% transparency) Bottom Sample,Top Sigma-T (kg/m3),Bottom Sigma-T (kg/m3),Top Fluorometer (mg/m3),Bottom Fluorometer mg/m3,"CTD (conductivity, temperature, depth profiler) PH Top Sample","CTD (conductivity, temperature, depth profiler) PH Bottom Sample",Top Sample Photosysthetically Active Radiation Reference (400-700nm light (uE/S),Top Sample Par (uE/S m2),Bottom Sample Par uE/S (uE/S m2),Oxidation Reduction Potential (mV) Top Sample,Oxidation Reduction Potential (mV) Bottom Sample,Current Speed (knot),Current Direction (Current Direction),Wind Speed (mph),Wind Direction (Wind Direction),Sea State,Winkler Method Top Dissolved Oxygen (mg/L),Winkler Method Bottom Dissolved Oxygen (mg/L),Secchi Depth (ft),Top PH,Bottom PH,Top Total Coliform Cells/100 mL,Top Bottom Coliform Cells/100 mL,Fecal Coliform Top Sample Less Than or Greater Than Result,Fecal Coliform Bottom Sample Less Than or Greater Than Result,Top Fecal Coliform Bacteria (Cells/100mL),Bottom Fecal Coliform Bacteria (Cells/100mL),Enterococcus Top Sample Less Than or Greater Than Result,Enterococcus Bottom Sample Less Than or Greater Than Result,Top Enterococci Bacteria (Cells/100mL),Bottom Enterococci Bacteria (Cells/100mL),Top Nitrate/Nitrite (mg/L),Bottom Nitrate/Nitrite (mg/L),Top Ammonium (mg/L),Bottom Ammonium (mg/L),Top Ortho-Phosphorus (mg/L),Bottom Ortho-Phosphorus (mg/L),Top Total Kjeldhal Nitrogen (mg/L),Bottom Total Kjeldhal Nitrogen (mg/L),Top Silica (mg/L),Bottom Silica (mg/L),Total Phosphorus(mg/L),Bottom Total Phosphorus (mg/L),Top Total Suspended Solid (mg/L),Bottom Total Suspended Solid (mg/L),Top Active Chlorophyll 'A' (µg/L),Bottom Active Chlorophyll 'A' (µg/L),Chlorophyll Top Sample Field (u/L (YSI),Chlorophyll Bottom Sample Field (u/L (YSI),TOP Total Organic Carbon (mg/L),Top Dissolved Organic Carbon (mg/L),Bottom Dissolved Organic Carbon (mg/L),Top Dissolved Organic Carbon YSI (mg/L),Bottom Dissolved Organic Carbon YSI (mg/L),Top Sample Depth YSI (ft),Bottom Depth YSI (ft),Top Sample Salinity YSI (psu),Bottom Sample Salinity YSI (psu),Top Sample Temperature YSI (ºC),Bottom Sample Temperature YSI (ºC),Top Bacteria # per C.C. 1909,Bottom Bacteria # per C.C. 1909,Top Beam Attenuation Coefficient,Bottom Beam Attenuation Coefficient,Top Five-Day Biochemical Oxygen Demand(mg/L),Bottom Five-Day Biochemical Oxygen Demand(mg/L),Top PCB Plate Count (Thous/mL),Bottom PCB plate Count (Thous/mL),Top Coliform (Log No/mL),Bottom Coliform (Log No/mL),Oakwood BOD Top Sample (mg/L),Oakwood BOD Bottom Sample(mg/L),Oakwood Total Suspended Solid Top Sample (mg/L),Oakwood Total Suspended Solid Bottom Sample (mg/L),Top Turbidity( Nephelometric Turbidity Units),Bottom Turbidity YSI (Nephelometric Turbidity Units),Sampling Comment,Long,Lat,Type
0,BB2,NaN,08/09/2006,1:53 PM,D,26.47,26.36,11,5.00,11.00,24.46,25.97,3.96,4.17,1.76,0.03,25.20,0.50,NaN,NaN,14.96,16.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-120.00,-147.00,0.4,NE,5,SW,1,1.52,1.56,2.5,7.37,7.35,NaN,NaN,NaN,NaN,740,740,NaN,NaN,10,17,0.19,0.26,1.248,1.30,0.27,0.31,5,5.12,1.3,1.59,0.437,0.50,10.5,10.00,37.28,NaN,NaN,NaN,NaN,4.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.66,-73.82,Permanent
1,BB2,NaN,09/12/2006,1:10 PM,D,21.88,21.43,16,5.00,15.00,25.67,26.27,3.78,3.82,5.37,4.54,71.30,60.00,NaN,NaN,17.18,17.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.50,79.10,0,SW,7,E,1,5.62,5.8,3,7.55,7.51,NaN,NaN,NaN,NaN,88,124,NaN,NaN,8,7,0.45,0.50,1.24,1.32,0.19,0.20,1.76,5.95,2.16,2.22,0.28,0.29,9.25,10.25,14.60,NaN,NaN,NaN,NaN,3.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.66,-73.82,Permanent
2,BB4,NaN,08/09/2006,2:02 PM,D,27.37,25.76,17,3.00,15.00,24.38,26.32,4.02,4.17,6.68,1.53,96.90,21.90,NaN,NaN,14.63,16.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.63,3.03,0.8,N,15,SSW,1,5.91,6.35,2.5,7.74,7.58,NaN,NaN,NaN,NaN,108,78,NaN,NaN,1,2,0.20,0.13,0.738,0.70,0.201,0.20,4.24,4.86,0.87,0.94,0.362,0.34,9,6.00,48.51,NaN,NaN,NaN,NaN,4.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.65,-73.82,Permanent
3,BB4,NaN,09/12/2006,1:17 PM,D,21.51,20.96,23,6.00,21.00,25.86,26.7,3.77,3.84,6.47,5.23,85.40,68.60,NaN,NaN,17.42,18.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.60,90.30,1.2,S,3,E,1,6.02,6.08,5,7.59,7.58,NaN,NaN,NaN,NaN,56,102,NaN,NaN,4,3,0.45,0.44,1.2,1.14,0.18,0.18,3.54,3.35,2.11,2.08,0.26,0.25,5.25,6.75,16.28,NaN,NaN,NaN,NaN,3.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.65,-73.82,Permanent
4,E10,NaN,10/23/2006,10:46 AM,D,16.01,16.14,98,4.00,94.00,25.9,26.19,3.35,3.4,6.82,6.68,81.00,79.70,NaN,NaN,18.76,18.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144.00,133.00,1,SE,16,W,1,7.39,7.02,6.5,7.3,7.35,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,0.20,NaN,0.234,NaN,NaN,NaN,1.24,NaN,0.99,NaN,0.122,NaN,6.5,6.00,2.57,NaN,NaN,NaN,NaN,2.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.84,-73.77,Permanent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95928,x998_1911_DO,NaN,08/18/1911,7:41 AM,NaN,NaN,20.00,NaN,NaN,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ebb,NaN,NaN,NaN,NaN,5.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-71.75,41.31,Permanent
95929,x998_1913_DO,NaN,07/15/1913,12:57 PM,NaN,NaN,12.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ebb,NaN,NaN,NaN,22.20,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.92,40.88,Permanent
95930,x999_1909,NaN,09/18/1909,11:25 AM,NaN,19.50,NaN,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Flood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"7,200.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-74.01,40.77,Permanent
95931,x999_1911_DO,NaN,08/18/1911,7:43 AM,NaN,NaN,20.00,NaN,NaN,60.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ebb,NaN,NaN,NaN,NaN,5.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-71.75,41.31,Permanent
95932,x999_1913_DO,NaN,07/15/1913,1:00 PM,NaN,NaN,18.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ebb,NaN,NaN,NaN,22.20,1.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.92,40.88,Permanent

In [56]:
print(df.duplicated().sum())
df = df.drop_duplicates()
df.duplicated().sum()

3966

0

In [57]:
df[['Month', 'Day', 'Year']] = df['Sample Date'].str.split('/', expand=True)

# If you need to convert to integers
df['Month'] = df['Month'].astype(int)
df['Day'] = df['Day'].astype(int)
df['Year'] = df['Year'].astype(int)
df

C:\Users\tisse\AppData\Local\Temp\ipykernel_20772\2911997543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Month', 'Day', 'Year']] = df['Sample Date'].str.split('/', expand=True)
C:\Users\tisse\AppData\Local\Temp\ipykernel_20772\2911997543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Month', 'Day', 'Year']] = df['Sample Date'].str.split('/', expand=True)
C:\Users\tisse\AppData\Local\Temp\ipykernel_20772\2911997543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Month', 'Day', 'Year']] = df['Sample Date'].str.split('/', expand=True)
C:\Users\tisse\AppData\Local\Temp\ipykernel_20772\2911997543.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['Month'].astype(int)
C:\Users\tisse\AppData\Local\Temp\ipykernel_20772\2911997543.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Day'] = df['Day'].astype(int)
C:\Users\tisse\AppData\Local\Temp\ipykernel_20772\2911997543.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Year'].astype(int)

,Sampling Location,Duplicate Sample,Sample Date,Sample Time,Weather Condition (Dry or Wet),Top Sample Temperature (ºC),Bottom Sample Temperature (ºC),Site Actual Depth (ft),Top Sample Depth(ft),Bottom Sample Depth (ft),Top Salinity (psu),Bottom Salinity (psu),Top Conductivity (S/m),Bottom Conductivity (S/m),"CTD (conductivity, temperature, depth profiler) Top Dissolved Oxygen (mg/L)","CTD (conductivity, temperature, depth profiler) Bottom Dissolved Oxygen (mg/L)",Percentage O2 Saturation Top Sample,Percentage O2 Saturation Bottom sample,Light Trans (% transparency) Top Sample,Light Trans (% transparency) Bottom Sample,Top Sigma-T (kg/m3),Bottom Sigma-T (kg/m3),Top Fluorometer (mg/m3),Bottom Fluorometer mg/m3,"CTD (conductivity, temperature, depth profiler) PH Top Sample","CTD (conductivity, temperature, depth profiler) PH Bottom Sample",Top Sample Photosysthetically Active Radiation Reference (400-700nm light (uE/S),Top Sample Par (uE/S m2),Bottom Sample Par uE/S (uE/S m2),Oxidation Reduction Potential (mV) Top Sample,Oxidation Reduction Potential (mV) Bottom Sample,Current Speed (knot),Current Direction (Current Direction),Wind Speed (mph),Wind Direction (Wind Direction),Sea State,Winkler Method Top Dissolved Oxygen (mg/L),Winkler Method Bottom Dissolved Oxygen (mg/L),Secchi Depth (ft),Top PH,Bottom PH,Top Total Coliform Cells/100 mL,Top Bottom Coliform Cells/100 mL,Fecal Coliform Top Sample Less Than or Greater Than Result,Fecal Coliform Bottom Sample Less Than or Greater Than Result,Top Fecal Coliform Bacteria (Cells/100mL),Bottom Fecal Coliform Bacteria (Cells/100mL),Enterococcus Top Sample Less Than or Greater Than Result,Enterococcus Bottom Sample Less Than or Greater Than Result,Top Enterococci Bacteria (Cells/100mL),Bottom Enterococci Bacteria (Cells/100mL),Top Nitrate/Nitrite (mg/L),Bottom Nitrate/Nitrite (mg/L),Top Ammonium (mg/L),Bottom Ammonium (mg/L),Top Ortho-Phosphorus (mg/L),Bottom Ortho-Phosphorus (mg/L),Top Total Kjeldhal Nitrogen (mg/L),Bottom Total Kjeldhal Nitrogen (mg/L),Top Silica (mg/L),Bottom Silica (mg/L),Total Phosphorus(mg/L),Bottom Total Phosphorus (mg/L),Top Total Suspended Solid (mg/L),Bottom Total Suspended Solid (mg/L),Top Active Chlorophyll 'A' (µg/L),Bottom Active Chlorophyll 'A' (µg/L),Chlorophyll Top Sample Field (u/L (YSI),Chlorophyll Bottom Sample Field (u/L (YSI),TOP Total Organic Carbon (mg/L),Top Dissolved Organic Carbon (mg/L),Bottom Dissolved Organic Carbon (mg/L),Top Dissolved Organic Carbon YSI (mg/L),Bottom Dissolved Organic Carbon YSI (mg/L),Top Sample Depth YSI (ft),Bottom Depth YSI (ft),Top Sample Salinity YSI (psu),Bottom Sample Salinity YSI (psu),Top Sample Temperature YSI (ºC),Bottom Sample Temperature YSI (ºC),Top Bacteria # per C.C. 1909,Bottom Bacteria # per C.C. 1909,Top Beam Attenuation Coefficient,Bottom Beam Attenuation Coefficient,Top Five-Day Biochemical Oxygen Demand(mg/L),Bottom Five-Day Biochemical Oxygen Demand(mg/L),Top PCB Plate Count (Thous/mL),Bottom PCB plate Count (Thous/mL),Top Coliform (Log No/mL),Bottom Coliform (Log No/mL),Oakwood BOD Top Sample (mg/L),Oakwood BOD Bottom Sample(mg/L),Oakwood Total Suspended Solid Top Sample (mg/L),Oakwood Total Suspended Solid Bottom Sample (mg/L),Top Turbidity( Nephelometric Turbidity Units),Bottom Turbidity YSI (Nephelometric Turbidity Units),Sampling Comment,Long,Lat,Type,Month,Day,Year
0,BB2,NaN,08/09/2006,1:53 PM,D,26.47,26.36,11,5.00,11.00,24.46,25.97,3.96,4.17,1.76,0.03,25.20,0.50,NaN,NaN,14.96,16.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-120.00,-147.00,0.4,NE,5,SW,1,1.52,1.56,2.5,7.37,7.35,NaN,NaN,NaN,NaN,740,740,NaN,NaN,10,17,0.19,0.26,1.248,1.30,0.27,0.31,5,5.12,1.3,1.59,0.437,0.50,10.5,10.00,37.28,NaN,NaN,NaN,NaN,4.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.66,-73.82,Permanent,8,9,2006
1,BB2,NaN,09/12/2006,1:10 PM,D,21.88,21.43,16,5.00,15.00,25.67,26.27,3.78,3.82,5.37,4.54,71.30,60.00,NaN,NaN,17.18,17.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.50,79.10,0,SW,7,E,1,5.62,5.8,3,7.55,7.51,NaN,NaN,NaN,NaN,88,124,NaN,NaN,8,7,0.45,0.50,1.24,1.32,0.19,0.20,1.76,5.95,2.16,2.22,0.28,0.29,9.25,10.25,14.60,NaN,NaN,NaN,NaN,3.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.66,-73.82,Permanent,9,12,2006
2,BB4,NaN,08/09/2006,2:02 PM,D,27.37,25.76,17,3.00,15.00,24.38,26.32,4.02,4.17,6.68,1.53,96.90,21.90,NaN,NaN,14.63,16.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.63,3.03,0.8,N,15,SSW,1,5.91,6.35,2.5,7.74,7.58,NaN,NaN,NaN,NaN,108,78,NaN,NaN,1,2,0.20,0.13,0.738,0.70,0.201,0.20,4.24,4.86,0.87,0.94,0.362,0.34,9,6.00,48.51,NaN,NaN,NaN,NaN,4.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.65,-73.82,Permanent,8,9,2006
3,BB4,NaN,09/12/2006,1:17 PM,D,21.51,20.96,23,6.00,21.00,25.86,26.7,3.77,3.84,6.47,5.23,85.40,68.60,NaN,NaN,17.42,18.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.60,90.30,1.2,S,3,E,1,6.02,6.08,5,7.59,7.58,NaN,NaN,NaN,NaN,56,102,NaN,NaN,4,3,0.45,0.44,1.2,1.14,0.18,0.18,3.54,3.35,2.11,2.08,0.26,0.25,5.25,6.75,16.28,NaN,NaN,NaN,NaN,3.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.65,-73.82,Permanent,9,12,2006
4,E10,NaN,10/23/2006,10:46 AM,D,16.01,16.14,98,4.00,94.00,25.9,26.19,3.35,3.4,6.82,6.68,81.00,79.70,NaN,NaN,18.76,18.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144.00,133.00,1,SE,16,W,1,7.39,7.02,6.5,7.3,7.35,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,0.20,NaN,0.234,NaN,NaN,NaN,1.24,NaN,0.99,NaN,0.122,NaN,6.5,6.00,2.57,NaN,NaN,NaN,NaN,2.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.84,-73.77,Permanent,10,23,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95928,x998_1911_DO,NaN,08/18/1911,7:41 AM,NaN,NaN,20.00,NaN,NaN,30.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ebb,NaN,NaN,NaN,NaN,5.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-71.75,41.31,Permanent,8,18,1911
95929,x998_1913_DO,NaN,07/15/1913,12:57 PM,NaN,NaN,12.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ebb,NaN,NaN,NaN,22.20,0.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.92,40.88,Permanent,7,15,1913
95930,x999_1909,NaN,09/18/1909,11:25 AM,NaN,19.50,NaN,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Flood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"7,200.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-74.01,40.77,Permanent,9,18,1909
95931,x999_1911_DO,NaN,08/18/1911,7:43 AM,NaN,NaN,20.00,NaN,NaN,60.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ebb,NaN,NaN,NaN,NaN,5.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-71.75,41.31,Permanent,8,18,1911
95932,x999_1913_DO,NaN,07/15/1913,1:00 PM,NaN,NaN,18.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ebb,NaN,NaN,NaN,22.20,1.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.92,40.88,Permanent,7,15,1913

In [58]:
columns_to_keep = ['Sampling Location', 'Duplicate Sample', 'Month', 'Day', 'Year', 'Sample Time', 'Weather Condition (Dry or Wet)', 'Top Fecal Coliform Bacteria (Cells/100mL)', 'Bottom Fecal Coliform Bacteria (Cells/100mL)', 'Top Enterococci Bacteria (Cells/100mL)', 'Bottom Enterococci Bacteria (Cells/100mL)', 'Sampling Comment']  
df = df[columns_to_keep]
df

,Sampling Location,Duplicate Sample,Month,Day,Year,Sample Time,Weather Condition (Dry or Wet),Top Fecal Coliform Bacteria (Cells/100mL),Bottom Fecal Coliform Bacteria (Cells/100mL),Top Enterococci Bacteria (Cells/100mL),Bottom Enterococci Bacteria (Cells/100mL),Sampling Comment
0,BB2,NaN,8,9,2006,1:53 PM,D,740,740,10,17,NaN
1,BB2,NaN,9,12,2006,1:10 PM,D,88,124,8,7,NaN
2,BB4,NaN,8,9,2006,2:02 PM,D,108,78,1,2,NaN
3,BB4,NaN,9,12,2006,1:17 PM,D,56,102,4,3,NaN
4,E10,NaN,10,23,2006,10:46 AM,D,1,NaN,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95928,x998_1911_DO,NaN,8,18,1911,7:41 AM,NaN,NaN,NaN,NaN,NaN,NaN
95929,x998_1913_DO,NaN,7,15,1913,12:57 PM,NaN,NaN,NaN,NaN,NaN,NaN
95930,x999_1909,NaN,9,18,1909,11:25 AM,NaN,NaN,NaN,NaN,NaN,NaN
95931,x999_1911_DO,NaN,8,18,1911,7:43 AM,NaN,NaN,NaN,NaN,NaN,NaN
95932,x999_1913_DO,NaN,7,15,1913,1:00 PM,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df_filt = df[df['Year'] > 2022]

#desired_vals = ['BR1', 'BR3', 'BR5']
#df_filt = df_filt[df_filt['Sampling Location'].isin(desired_vals)]

df_filt

,Sampling Location,Duplicate Sample,Month,Day,Year,Sample Time,Weather Condition (Dry or Wet),Top Fecal Coliform Bacteria (Cells/100mL),Bottom Fecal Coliform Bacteria (Cells/100mL),Top Enterococci Bacteria (Cells/100mL),Bottom Enterococci Bacteria (Cells/100mL),Sampling Comment
475,AC1,NaN,1,4,2023,10:38,Wet,30,NaN,60,NaN,NaN
491,AC1,NaN,10,2,2023,10:28,Wet,3200,NaN,2000,NaN,NaN
500,AC1,NaN,10,26,2023,11:22,Dry,192,NaN,48,NaN,NaN
503,AC1,NaN,10,3,2024,11:25,Dry,168,NaN,NaN,NaN,NaN
516,AC1,NaN,11,15,2023,11:54,Dry,36,NaN,12,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
89553,WC3,NaN,8,10,2023,09:41,Dry,157,NaN,14,NaN,NaN
89560,WC3,NaN,8,15,2024,10:20,Dry,20,NaN,NaN,NaN,NaN
89573,WC3,NaN,8,24,2023,09:48,Dry,1154,NaN,114,NaN,NaN
89580,WC3,NaN,8,29,2024,10:02,Wet,50,NaN,NaN,NaN,NaN
89598,WC3,NaN,9,14,2023,11:44,Dry,320,NaN,10,NaN,NaN

In [60]:
df_filt = df_filt[df_filt['Top Enterococci Bacteria (Cells/100mL)'].notna() | df_filt['Bottom Enterococci Bacteria (Cells/100mL)'].notna()]
df_filt['Top Enterococci Bacteria (Cells/100mL)'] = df_filt['Top Enterococci Bacteria (Cells/100mL)'].astype(int)
#pd.set_option('display.max_rows', None)
df_filt.sort_values(by='Year')

C:\Users\tisse\AppData\Local\Temp\ipykernel_20772\1748664379.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filt['Top Enterococci Bacteria (Cells/100mL)'] = df_filt['Top Enterococci Bacteria (Cells/100mL)'].astype(int)

,Sampling Location,Duplicate Sample,Month,Day,Year,Sample Time,Weather Condition (Dry or Wet),Top Fecal Coliform Bacteria (Cells/100mL),Bottom Fecal Coliform Bacteria (Cells/100mL),Top Enterococci Bacteria (Cells/100mL),Bottom Enterococci Bacteria (Cells/100mL),Sampling Comment
475,AC1,NaN,1,4,2023,10:38,Wet,30,NaN,60,NaN,NaN
50607,K1,NaN,8,30,2023,15:40,Dry,184,NaN,31,NaN,murky water
50674,K1,NaN,8,8,2023,15:02,Wet,583,NaN,22,NaN,NaN
50731,K1,NaN,9,13,2023,14:49,Wet,540,NaN,34,NaN,NaN
50907,K1,NaN,9,7,2023,14:58,Dry,20,NaN,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
18131,E7,NaN,7,8,2024,12:39,Dry,28,NaN,1,NaN,murky water
54618,K4,NaN,7,3,2024,14:02,Dry,52,NaN,2,NaN,murky water
54560,K4,NaN,7,24,2024,13:58,Wet,44,NaN,4,NaN,silty water
55454,K5,NaN,3,19,2024,11:51,Dry,18,NaN,5,NaN,silty water
61280,N1,NaN,12,9,2024,11:36,Dry,102,NaN,48,NaN,murky water

In [61]:
print(df_filt['Weather Condition (Dry or Wet)'].value_counts())

df_filt['Weather Condition (Dry or Wet)'] = df_filt['Weather Condition (Dry or Wet)'].str.lower()

df_filt['Weather Condition (Dry or Wet)'].value_counts()

Dry        1940
Wet        1112
DRY          36
WET          34
dry          11
Dry/Wet       2
Name: Weather Condition (Dry or Wet), dtype: int64

C:\Users\tisse\AppData\Local\Temp\ipykernel_20772\1114444644.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filt['Weather Condition (Dry or Wet)'] = df_filt['Weather Condition (Dry or Wet)'].str.lower()

dry        1987
wet        1146
dry/wet       2
Name: Weather Condition (Dry or Wet), dtype: int64

In [73]:
cond1 = df_filt['Year'] == 2024
cond2 = df_filt['Sampling Location'] == 'BR5'
cond3 = df_filt['Weather Condition (Dry or Wet)'] != 'dry'

df_br24 = df_filt[cond1 & cond2]
df_br24

,Sampling Location,Duplicate Sample,Month,Day,Year,Sample Time,Weather Condition (Dry or Wet),Top Fecal Coliform Bacteria (Cells/100mL),Bottom Fecal Coliform Bacteria (Cells/100mL),Top Enterococci Bacteria (Cells/100mL),Bottom Enterococci Bacteria (Cells/100mL),Sampling Comment
2542,BR5,NaN,10,28,2024,10:14,dry,10,NaN,19,NaN,silty water
2585,BR5,NaN,12,9,2024,15:40,dry,4,NaN,3,NaN,NaN
2603,BR5,NaN,3,5,2024,13:38,wet,350,NaN,60,NaN,dark green water
2609,BR5,NaN,4,2,2024,13:47,wet,90,NaN,10,NaN,NaN
2619,BR5,NaN,5,14,2024,14:32,dry,60,NaN,4,NaN,murky water
2626,BR5,NaN,5,21,2024,11:37,dry,18,NaN,18,NaN,murky water
2637,BR5,NaN,5,29,2024,13:28,wet,480,NaN,10,NaN,murky water
2644,BR5,NaN,5,8,2024,11:31,wet,58000,NaN,19000,NaN,silty water
2654,BR5,NaN,6,13,2024,15:51,dry,22,NaN,7,NaN,NaN
2659,BR5,NaN,6,17,2024,15:58,dry,140,NaN,21,NaN,"brownish, silty water"
2673,BR5,NaN,6,24,2024,14:38,dry,731,NaN,48,NaN,silty water
2688,BR5,NaN,6,4,2024,13:46,dry,94,NaN,18,NaN,dark colored water
2706,BR5,NaN,7,15,2024,14:33,wet,1721,NaN,90,NaN,"brown, silty water"
2720,BR5,NaN,7,22,2024,13:59,dry,144,NaN,51,NaN,silty water
2744,BR5,NaN,7,8,2024,13:57,dry,196,NaN,3,NaN,silty water

In [74]:
geometric_mean = np.exp(np.mean(np.log(df_br24['Top Enterococci Bacteria (Cells/100mL)'])))
print(geometric_mean)

geo_mean = gmean(df_br24['Top Enterococci Bacteria (Cells/100mL)'])
geo_mean

24.785165016479883

24.785165016479883

### HARLEM RIVER

In [26]:
df_har = df[df['Year'] > 2022]
pd.reset_option('display.max_rows')
df_har

,Sampling Location,Duplicate Sample,Month,Day,Year,Sample Time,Weather Condition (Dry or Wet),Top Fecal Coliform Bacteria (Cells/100mL),Bottom Fecal Coliform Bacteria (Cells/100mL),Top Enterococci Bacteria (Cells/100mL),Bottom Enterococci Bacteria (Cells/100mL),Sampling Comment
475,AC1,NaN,1,4,2023,10:38,Wet,30,NaN,60,NaN,NaN
491,AC1,NaN,10,2,2023,10:28,Wet,3200,NaN,2000,NaN,NaN
500,AC1,NaN,10,26,2023,11:22,Dry,192,NaN,48,NaN,NaN
503,AC1,NaN,10,3,2024,11:25,Dry,168,NaN,NaN,NaN,NaN
516,AC1,NaN,11,15,2023,11:54,Dry,36,NaN,12,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
89553,WC3,NaN,8,10,2023,09:41,Dry,157,NaN,14,NaN,NaN
89560,WC3,NaN,8,15,2024,10:20,Dry,20,NaN,NaN,NaN,NaN
89573,WC3,NaN,8,24,2023,09:48,Dry,1154,NaN,114,NaN,NaN
89580,WC3,NaN,8,29,2024,10:02,Wet,50,NaN,NaN,NaN,NaN
89598,WC3,NaN,9,14,2023,11:44,Dry,320,NaN,10,NaN,NaN

In [27]:
df_har = df_har[df_har['Top Enterococci Bacteria (Cells/100mL)'].notna() | df_har['Bottom Enterococci Bacteria (Cells/100mL)'].notna()]
df_har

,Sampling Location,Duplicate Sample,Month,Day,Year,Sample Time,Weather Condition (Dry or Wet),Top Fecal Coliform Bacteria (Cells/100mL),Bottom Fecal Coliform Bacteria (Cells/100mL),Top Enterococci Bacteria (Cells/100mL),Bottom Enterococci Bacteria (Cells/100mL),Sampling Comment
475,AC1,NaN,1,4,2023,10:38,Wet,30,NaN,60,NaN,NaN
491,AC1,NaN,10,2,2023,10:28,Wet,3200,NaN,2000,NaN,NaN
500,AC1,NaN,10,26,2023,11:22,Dry,192,NaN,48,NaN,NaN
516,AC1,NaN,11,15,2023,11:54,Dry,36,NaN,12,NaN,NaN
522,AC1,NaN,11,18,2024,11:17,Dry,152,NaN,20,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
89531,WC3,NaN,7,18,2024,10:00,Wet,51000,NaN,3700,NaN,NaN
89541,WC3,NaN,7,27,2023,09:26,Wet,8818,NaN,8,NaN,NaN
89553,WC3,NaN,8,10,2023,09:41,Dry,157,NaN,14,NaN,NaN
89573,WC3,NaN,8,24,2023,09:48,Dry,1154,NaN,114,NaN,NaN
89598,WC3,NaN,9,14,2023,11:44,Dry,320,NaN,10,NaN,NaN

In [41]:
cond1 = df_har['Year'] == 2024
cond2 = df_har['Sampling Location'] == 'H3'
#cond3 = df_har['Weather Condition (Dry or Wet)'] == 'Dry'

#pd.set_option('display.max_rows', None)
df_har24 = df_har[cond1 & cond2]
df_har24

,Sampling Location,Duplicate Sample,Month,Day,Year,Sample Time,Weather Condition (Dry or Wet),Top Fecal Coliform Bacteria (Cells/100mL),Bottom Fecal Coliform Bacteria (Cells/100mL),Top Enterococci Bacteria (Cells/100mL),Bottom Enterococci Bacteria (Cells/100mL),Sampling Comment
30402,H3,NaN,10,28,2024,13:46,Dry,12,NaN,4,NaN,murky water
30440,H3,NaN,11,12,2024,12:19,Dry,13,NaN,2,NaN,silty water
30501,H3,NaN,12,9,2024,12:10,Dry,12,NaN,7,NaN,murky water
30511,H3,NaN,2,20,2024,11:35,Dry,44,NaN,19,NaN,silty water
30564,H3,NaN,3,5,2024,11:34,Wet,753,NaN,570,NaN,silty water
30584,H3,NaN,4,2,2024,11:31,Wet,190,NaN,20,NaN,NaN
30609,H3,NaN,5,14,2024,12:09,Dry,60,NaN,39,NaN,silty water
30630,H3,NaN,5,21,2024,13:22,Dry,14,NaN,3,NaN,silty water
30659,H3,NaN,5,29,2024,14:18,Wet,211,NaN,104,NaN,muddy water
30673,H3,NaN,5,8,2024,13:20,Wet,5600,NaN,600,NaN,silty water
30728,H3,NaN,6,13,2024,12:21,Dry,49,NaN,11,NaN,NaN
30781,H3,NaN,6,17,2024,12:33,Dry,62,NaN,10,NaN,silty water
30917,H3,NaN,6,24,2024,12:35,Dry,73,NaN,26,NaN,murky water
31017,H3,NaN,6,4,2024,14:34,Dry,24,NaN,16,NaN,murky water
31079,H3,NaN,7,1,2024,13:40,Wet,250,NaN,30,NaN,silty water
31190,H3,NaN,7,15,2024,12:00,Wet,460,NaN,40,NaN,NaN
31321,H3,NaN,7,22,2024,15:10,Dry,50,NaN,13,NaN,silty water
31562,H3,NaN,7,8,2024,14:50,Dry,230,NaN,62,NaN,silty water

In [42]:
df_har24['Top Enterococci Bacteria (Cells/100mL)'] = df_har24['Top Enterococci Bacteria (Cells/100mL)'].astype(int)
df_har24['Top Enterococci Bacteria (Cells/100mL)'].mean()

C:\Users\tisse\AppData\Local\Temp\ipykernel_20772\2533432820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_har24['Top Enterococci Bacteria (Cells/100mL)'] = df_har24['Top Enterococci Bacteria (Cells/100mL)'].astype(int)

87.55555555555556

In [43]:
geometric_mean = np.exp(np.mean(np.log(df_har24['Top Enterococci Bacteria (Cells/100mL)'])))
print(geometric_mean)

geo_mean = gmean(df_har24['Top Enterococci Bacteria (Cells/100mL)'])
geo_mean

23.242880934156695

23.242880934156695

In [3]:
import geopy
from geopy.geocoders import Nominatim

def get_location_from_coordinates(df, lat_col='Lat', lon_col='Long'):
    """
    Retrieves location information (address, city, state, country)
    from given latitude and longitude coordinates.

    Args:
        latitude (str or float): The latitude coordinate.
        longitude (str or float): The longitude coordinate.

    Returns:
        dict: A dictionary containing address details, or None if not found.
    """
    geolocator = Nominatim(user_agent="location_retriever")

    zips = []

    for _, row in df.iterrows():
        location = geolocator.reverse((row[lat_col], row[long_col]), exactly_one=True)
        if location:
            address = location.raw['address']
            
    
# Example usage:
latitude = "40.66"  # Example latitude (New York City)
longitude = "-73.82" # Example longitude (New York City)

location_data = get_location_from_coordinates(latitude, longitude)

if location_data:
    print(f"Location data for {latitude}, {longitude}:")
    print(f"  Address: {location_data['address']}")
    print(f"  Latitude: {location_data['latitude']}")
    print(f"  Longitude: {location_data['longitude']}")
    print(f"  City: {location_data['city']}")
    print(f"  State: {location_data['state']}")
    print(f"  Country: {location_data['country']}")
    print(f"  Zip Code: {location_data['zip_code']}")
else:
    print(f"Could not retrieve location data for {latitude}, {longitude}")

Location data for 40.66, -73.82:
  Address: {'road': 'Pan Am Road', 'borough': 'Queens', 'county': 'Queens County', 'city': 'City of New York', 'state': 'New York', 'ISO3166-2-lvl4': 'US-NY', 'postcode': '11420', 'country': 'United States', 'country_code': 'us'}
  Latitude: 40.6607262
  Longitude: -73.8196777
  City: City of New York
  State: New York
  Country: United States
  Zip Code: 11420